body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 120%;
  background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

.card {
  background: blue;
  color: white;
  padding: 2em;
  width: 100%;
  max-width: 500px;
  margin: 1em;
  border-radius: 11%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: grey;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.searchbar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: white;
  color: black;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}
